# PROPOSALS CAPTURED REPORT AUTOMIZATION

##### Importing Libraries

In [9]:
import pandas as pd

import numpy as np 

import re

#### Importing the Dataset

In [10]:
df= pd.read_excel('Captured Cases Report V2_Captured Cases (37).xlsx')

df.head()

,POLICY CODE,POLICY NO,PROPOSAL NO,Unnamed: 3,CLIENT,STATUS,EFFECTIVE DATE,Unnamed: 7,MODAL PREMIUM,ANNUALIZED PREMIUM,...,CONVERTED BY,CAPTURED BY,AUTHORISED BY,AGENT NAME,AGENT CODE,AGENT,AGENT JOIN DATE,AGENCY,UNIT,CAPTURE DATE
0,2.013337e+09,EDP/HO/0000001/2013,PR/EDP/HO/0000001/2013,NaN,KITHUKU JESSICAH MUENI,FINAL LAPSED,20/11/2013,NaN,3304.0,39648.0,...,JWATIKI,WODERA,JWATIKI,JESSICAH MUENI KITHUKU,10110450,JESSICAH MUENI KITHUKU,12/11/2013,NYERI,UNIT 1 - NYERI,20/11/2013
1,2.013337e+09,FPC/HO/0000001/2013,PR/FPC/HO/0000001/2013,NaN,KITHUKU JESSICAH MUENI,LAPSED,20/11/2013,NaN,213.0,2556.0,...,JWATIKI,WODERA,JWATIKI,JESSICAH MUENI KITHUKU,10110450,JESSICAH MUENI KITHUKU,12/11/2013,NYERI,UNIT 1 - NYERI,20/11/2013
2,2.013337e+09,EDP/HO/0000002/2013,PR/EDP/HO/0000002/2013,NaN,MUTHIANI AUGUSTINE MULEI,FINAL LAPSED,22/11/2013,NaN,5487.0,65844.0,...,JWATIKI,WODERA,JWATIKI,RACHEAL THIONGO,10160429,RACHEAL THIONGO,22/11/2013,NAIROBI 2,UNIT 3 - NAIROBI 2,22/11/2013
3,2.013337e+09,END/HO/0000012/2014,PR/END/HO/0000002/2013,NaN,KARIUKI JOSEPH HEHO,SURRENDERED,01/01/2014,NaN,12639.0,151668.0,...,JWATIKI,CLUKANO,JWATIKI,JOSEPH HEHO KARIUKI,10210001,JOSEPH HEHO KARIUKI,01/11/2013,AGENCY - STAFF,UNIT STAFF,27/11/2013
4,2.013337e+09,END/HO/0000001/2013,PR/END/HO/0000003/2013,NaN,WATIKI JANE NDUTA,MATURED,27/11/2013,NaN,6395.0,76740.0,...,JWATIKI,CLUKANO,JWATIKI,JANE NDUTA WATIKI,10210002,JANE NDUTA WATIKI,01/11/2013,AGENCY - STAFF,UNIT STAFF,28/11/2013

##### Removing Unwanted Columns

In [11]:
df.columns

Index(['POLICY CODE', 'POLICY NO', 'PROPOSAL NO', 'Unnamed: 3', 'CLIENT',
       'STATUS', 'EFFECTIVE DATE', 'Unnamed: 7', 'MODAL PREMIUM',
       'ANNUALIZED PREMIUM', 'PAY METHOD', 'PAYMENT FREQUENCY',
       'CONVERSION DATE', 'CONVERTED BY', 'CAPTURED BY', 'AUTHORISED BY',
       'AGENT NAME', 'AGENT CODE', 'AGENT', 'AGENT JOIN DATE', 'AGENCY',
       'UNIT', 'CAPTURE DATE'],
      dtype='object')

In [12]:
df = df.drop(['POLICY CODE', 'Unnamed: 3', 'Unnamed: 7', 'CONVERTED BY', 'AUTHORISED BY', 'CAPTURED BY'], axis= 1)

df.head()

,POLICY NO,PROPOSAL NO,CLIENT,STATUS,EFFECTIVE DATE,MODAL PREMIUM,ANNUALIZED PREMIUM,PAY METHOD,PAYMENT FREQUENCY,CONVERSION DATE,AGENT NAME,AGENT CODE,AGENT,AGENT JOIN DATE,AGENCY,UNIT,CAPTURE DATE
0,EDP/HO/0000001/2013,PR/EDP/HO/0000001/2013,KITHUKU JESSICAH MUENI,FINAL LAPSED,20/11/2013,3304.0,39648.0,CHECK-OFF,M,25/11/2013,JESSICAH MUENI KITHUKU,10110450,JESSICAH MUENI KITHUKU,12/11/2013,NYERI,UNIT 1 - NYERI,20/11/2013
1,FPC/HO/0000001/2013,PR/FPC/HO/0000001/2013,KITHUKU JESSICAH MUENI,LAPSED,20/11/2013,213.0,2556.0,CASH,M,25/11/2013,JESSICAH MUENI KITHUKU,10110450,JESSICAH MUENI KITHUKU,12/11/2013,NYERI,UNIT 1 - NYERI,20/11/2013
2,EDP/HO/0000002/2013,PR/EDP/HO/0000002/2013,MUTHIANI AUGUSTINE MULEI,FINAL LAPSED,22/11/2013,5487.0,65844.0,CASH,M,03/12/2013,RACHEAL THIONGO,10160429,RACHEAL THIONGO,22/11/2013,NAIROBI 2,UNIT 3 - NAIROBI 2,22/11/2013
3,END/HO/0000012/2014,PR/END/HO/0000002/2013,KARIUKI JOSEPH HEHO,SURRENDERED,01/01/2014,12639.0,151668.0,CHECK-OFF,M,31/01/2014,JOSEPH HEHO KARIUKI,10210001,JOSEPH HEHO KARIUKI,01/11/2013,AGENCY - STAFF,UNIT STAFF,27/11/2013
4,END/HO/0000001/2013,PR/END/HO/0000003/2013,WATIKI JANE NDUTA,MATURED,27/11/2013,6395.0,76740.0,CHECK-OFF,M,03/12/2013,JANE NDUTA WATIKI,10210002,JANE NDUTA WATIKI,01/11/2013,AGENCY - STAFF,UNIT STAFF,28/11/2013

#### Rearranging Columns to Reporting Order

In [13]:
df.columns

Index(['POLICY NO', 'PROPOSAL NO', 'CLIENT', 'STATUS', 'EFFECTIVE DATE',
       'MODAL PREMIUM', 'ANNUALIZED PREMIUM', 'PAY METHOD',
       'PAYMENT FREQUENCY', 'CONVERSION DATE', 'AGENT NAME', 'AGENT CODE',
       'AGENT', 'AGENT JOIN DATE', 'AGENCY', 'UNIT', 'CAPTURE DATE'],
      dtype='object')

In [14]:
df = df[['CLIENT', 'POLICY NO', 'PROPOSAL NO', 'STATUS', 'CAPTURE DATE', 'EFFECTIVE DATE', 'MODAL PREMIUM', 'ANNUALIZED PREMIUM',
          'PAY METHOD', 'PAYMENT FREQUENCY', 'CONVERSION DATE', 'AGENT', 'AGENT CODE', 'AGENT', 'AGENT JOIN DATE', 'AGENCY', 'UNIT']]

df.head()

,CLIENT,POLICY NO,PROPOSAL NO,STATUS,CAPTURE DATE,EFFECTIVE DATE,MODAL PREMIUM,ANNUALIZED PREMIUM,PAY METHOD,PAYMENT FREQUENCY,CONVERSION DATE,AGENT,AGENT CODE,AGENT,AGENT JOIN DATE,AGENCY,UNIT
0,KITHUKU JESSICAH MUENI,EDP/HO/0000001/2013,PR/EDP/HO/0000001/2013,FINAL LAPSED,20/11/2013,20/11/2013,3304.0,39648.0,CHECK-OFF,M,25/11/2013,JESSICAH MUENI KITHUKU,10110450,JESSICAH MUENI KITHUKU,12/11/2013,NYERI,UNIT 1 - NYERI
1,KITHUKU JESSICAH MUENI,FPC/HO/0000001/2013,PR/FPC/HO/0000001/2013,LAPSED,20/11/2013,20/11/2013,213.0,2556.0,CASH,M,25/11/2013,JESSICAH MUENI KITHUKU,10110450,JESSICAH MUENI KITHUKU,12/11/2013,NYERI,UNIT 1 - NYERI
2,MUTHIANI AUGUSTINE MULEI,EDP/HO/0000002/2013,PR/EDP/HO/0000002/2013,FINAL LAPSED,22/11/2013,22/11/2013,5487.0,65844.0,CASH,M,03/12/2013,RACHEAL THIONGO,10160429,RACHEAL THIONGO,22/11/2013,NAIROBI 2,UNIT 3 - NAIROBI 2
3,KARIUKI JOSEPH HEHO,END/HO/0000012/2014,PR/END/HO/0000002/2013,SURRENDERED,27/11/2013,01/01/2014,12639.0,151668.0,CHECK-OFF,M,31/01/2014,JOSEPH HEHO KARIUKI,10210001,JOSEPH HEHO KARIUKI,01/11/2013,AGENCY - STAFF,UNIT STAFF
4,WATIKI JANE NDUTA,END/HO/0000001/2013,PR/END/HO/0000003/2013,MATURED,28/11/2013,27/11/2013,6395.0,76740.0,CHECK-OFF,M,03/12/2013,JANE NDUTA WATIKI,10210002,JANE NDUTA WATIKI,01/11/2013,AGENCY - STAFF,UNIT STAFF

In [15]:
df['CAPTURE DATE'] = pd.to_datetime(df['CAPTURE DATE'], format='%d/%m/%Y')

df.head()

,CLIENT,POLICY NO,PROPOSAL NO,STATUS,CAPTURE DATE,EFFECTIVE DATE,MODAL PREMIUM,ANNUALIZED PREMIUM,PAY METHOD,PAYMENT FREQUENCY,CONVERSION DATE,AGENT,AGENT CODE,AGENT,AGENT JOIN DATE,AGENCY,UNIT
0,KITHUKU JESSICAH MUENI,EDP/HO/0000001/2013,PR/EDP/HO/0000001/2013,FINAL LAPSED,2013-11-20,20/11/2013,3304.0,39648.0,CHECK-OFF,M,25/11/2013,JESSICAH MUENI KITHUKU,10110450,JESSICAH MUENI KITHUKU,12/11/2013,NYERI,UNIT 1 - NYERI
1,KITHUKU JESSICAH MUENI,FPC/HO/0000001/2013,PR/FPC/HO/0000001/2013,LAPSED,2013-11-20,20/11/2013,213.0,2556.0,CASH,M,25/11/2013,JESSICAH MUENI KITHUKU,10110450,JESSICAH MUENI KITHUKU,12/11/2013,NYERI,UNIT 1 - NYERI
2,MUTHIANI AUGUSTINE MULEI,EDP/HO/0000002/2013,PR/EDP/HO/0000002/2013,FINAL LAPSED,2013-11-22,22/11/2013,5487.0,65844.0,CASH,M,03/12/2013,RACHEAL THIONGO,10160429,RACHEAL THIONGO,22/11/2013,NAIROBI 2,UNIT 3 - NAIROBI 2
3,KARIUKI JOSEPH HEHO,END/HO/0000012/2014,PR/END/HO/0000002/2013,SURRENDERED,2013-11-27,01/01/2014,12639.0,151668.0,CHECK-OFF,M,31/01/2014,JOSEPH HEHO KARIUKI,10210001,JOSEPH HEHO KARIUKI,01/11/2013,AGENCY - STAFF,UNIT STAFF
4,WATIKI JANE NDUTA,END/HO/0000001/2013,PR/END/HO/0000003/2013,MATURED,2013-11-28,27/11/2013,6395.0,76740.0,CHECK-OFF,M,03/12/2013,JANE NDUTA WATIKI,10210002,JANE NDUTA WATIKI,01/11/2013,AGENCY - STAFF,UNIT STAFF

#### Changing Date Format to Short Date

In [16]:
from datetime import datetime

df['CAPTURE DATE'] = pd.to_datetime(df['CAPTURE DATE'], format='%d/%m/%Y')

df['EFFECTIVE DATE'] = pd.to_datetime(df['EFFECTIVE DATE'], format='%d/%m/%Y')

df['CONVERSION DATE'] = pd.to_datetime(df['CONVERSION DATE'], format='%d/%m/%Y')

df['AGENT JOIN DATE'] = pd.to_datetime(df['AGENT JOIN DATE'], format='%d/%m/%Y')

df.head()

,CLIENT,POLICY NO,PROPOSAL NO,STATUS,CAPTURE DATE,EFFECTIVE DATE,MODAL PREMIUM,ANNUALIZED PREMIUM,PAY METHOD,PAYMENT FREQUENCY,CONVERSION DATE,AGENT,AGENT CODE,AGENT,AGENT JOIN DATE,AGENCY,UNIT
0,KITHUKU JESSICAH MUENI,EDP/HO/0000001/2013,PR/EDP/HO/0000001/2013,FINAL LAPSED,2013-11-20,2013-11-20,3304.0,39648.0,CHECK-OFF,M,2013-11-25,JESSICAH MUENI KITHUKU,10110450,JESSICAH MUENI KITHUKU,2013-11-12,NYERI,UNIT 1 - NYERI
1,KITHUKU JESSICAH MUENI,FPC/HO/0000001/2013,PR/FPC/HO/0000001/2013,LAPSED,2013-11-20,2013-11-20,213.0,2556.0,CASH,M,2013-11-25,JESSICAH MUENI KITHUKU,10110450,JESSICAH MUENI KITHUKU,2013-11-12,NYERI,UNIT 1 - NYERI
2,MUTHIANI AUGUSTINE MULEI,EDP/HO/0000002/2013,PR/EDP/HO/0000002/2013,FINAL LAPSED,2013-11-22,2013-11-22,5487.0,65844.0,CASH,M,2013-12-03,RACHEAL THIONGO,10160429,RACHEAL THIONGO,2013-11-22,NAIROBI 2,UNIT 3 - NAIROBI 2
3,KARIUKI JOSEPH HEHO,END/HO/0000012/2014,PR/END/HO/0000002/2013,SURRENDERED,2013-11-27,2014-01-01,12639.0,151668.0,CHECK-OFF,M,2014-01-31,JOSEPH HEHO KARIUKI,10210001,JOSEPH HEHO KARIUKI,2013-11-01,AGENCY - STAFF,UNIT STAFF
4,WATIKI JANE NDUTA,END/HO/0000001/2013,PR/END/HO/0000003/2013,MATURED,2013-11-28,2013-11-27,6395.0,76740.0,CHECK-OFF,M,2013-12-03,JANE NDUTA WATIKI,10210002,JANE NDUTA WATIKI,2013-11-01,AGENCY - STAFF,UNIT STAFF

#### Converting Premium Values and Agent Codes to Numbers

In [17]:
df['MODAL PREMIUM'] = pd.to_numeric(df['MODAL PREMIUM'])

df['ANNUALIZED PREMIUM'] = pd.to_numeric(df['ANNUALIZED PREMIUM'])

df[['AGENT CODE']] = df[['AGENT CODE']].apply(pd.to_numeric, errors='coerce')

df.head()

,CLIENT,POLICY NO,PROPOSAL NO,STATUS,CAPTURE DATE,EFFECTIVE DATE,MODAL PREMIUM,ANNUALIZED PREMIUM,PAY METHOD,PAYMENT FREQUENCY,CONVERSION DATE,AGENT,AGENT CODE,AGENT,AGENT JOIN DATE,AGENCY,UNIT
0,KITHUKU JESSICAH MUENI,EDP/HO/0000001/2013,PR/EDP/HO/0000001/2013,FINAL LAPSED,2013-11-20,2013-11-20,3304.0,39648.0,CHECK-OFF,M,2013-11-25,JESSICAH MUENI KITHUKU,10110450.0,JESSICAH MUENI KITHUKU,2013-11-12,NYERI,UNIT 1 - NYERI
1,KITHUKU JESSICAH MUENI,FPC/HO/0000001/2013,PR/FPC/HO/0000001/2013,LAPSED,2013-11-20,2013-11-20,213.0,2556.0,CASH,M,2013-11-25,JESSICAH MUENI KITHUKU,10110450.0,JESSICAH MUENI KITHUKU,2013-11-12,NYERI,UNIT 1 - NYERI
2,MUTHIANI AUGUSTINE MULEI,EDP/HO/0000002/2013,PR/EDP/HO/0000002/2013,FINAL LAPSED,2013-11-22,2013-11-22,5487.0,65844.0,CASH,M,2013-12-03,RACHEAL THIONGO,10160429.0,RACHEAL THIONGO,2013-11-22,NAIROBI 2,UNIT 3 - NAIROBI 2
3,KARIUKI JOSEPH HEHO,END/HO/0000012/2014,PR/END/HO/0000002/2013,SURRENDERED,2013-11-27,2014-01-01,12639.0,151668.0,CHECK-OFF,M,2014-01-31,JOSEPH HEHO KARIUKI,10210001.0,JOSEPH HEHO KARIUKI,2013-11-01,AGENCY - STAFF,UNIT STAFF
4,WATIKI JANE NDUTA,END/HO/0000001/2013,PR/END/HO/0000003/2013,MATURED,2013-11-28,2013-11-27,6395.0,76740.0,CHECK-OFF,M,2013-12-03,JANE NDUTA WATIKI,10210002.0,JANE NDUTA WATIKI,2013-11-01,AGENCY - STAFF,UNIT STAFF

In [18]:
# Leaving Null Values Empty

df = df.fillna('')

df.head()

,CLIENT,POLICY NO,PROPOSAL NO,STATUS,CAPTURE DATE,EFFECTIVE DATE,MODAL PREMIUM,ANNUALIZED PREMIUM,PAY METHOD,PAYMENT FREQUENCY,CONVERSION DATE,AGENT,AGENT CODE,AGENT,AGENT JOIN DATE,AGENCY,UNIT
0,KITHUKU JESSICAH MUENI,EDP/HO/0000001/2013,PR/EDP/HO/0000001/2013,FINAL LAPSED,2013-11-20,2013-11-20,3304.0,39648.0,CHECK-OFF,M,2013-11-25,JESSICAH MUENI KITHUKU,10110450.0,JESSICAH MUENI KITHUKU,2013-11-12,NYERI,UNIT 1 - NYERI
1,KITHUKU JESSICAH MUENI,FPC/HO/0000001/2013,PR/FPC/HO/0000001/2013,LAPSED,2013-11-20,2013-11-20,213.0,2556.0,CASH,M,2013-11-25,JESSICAH MUENI KITHUKU,10110450.0,JESSICAH MUENI KITHUKU,2013-11-12,NYERI,UNIT 1 - NYERI
2,MUTHIANI AUGUSTINE MULEI,EDP/HO/0000002/2013,PR/EDP/HO/0000002/2013,FINAL LAPSED,2013-11-22,2013-11-22,5487.0,65844.0,CASH,M,2013-12-03,RACHEAL THIONGO,10160429.0,RACHEAL THIONGO,2013-11-22,NAIROBI 2,UNIT 3 - NAIROBI 2
3,KARIUKI JOSEPH HEHO,END/HO/0000012/2014,PR/END/HO/0000002/2013,SURRENDERED,2013-11-27,2014-01-01,12639.0,151668.0,CHECK-OFF,M,2014-01-31,JOSEPH HEHO KARIUKI,10210001.0,JOSEPH HEHO KARIUKI,2013-11-01,AGENCY - STAFF,UNIT STAFF
4,WATIKI JANE NDUTA,END/HO/0000001/2013,PR/END/HO/0000003/2013,MATURED,2013-11-28,2013-11-27,6395.0,76740.0,CHECK-OFF,M,2013-12-03,JANE NDUTA WATIKI,10210002.0,JANE NDUTA WATIKI,2013-11-01,AGENCY - STAFF,UNIT STAFF

#### Ordering Columns Using Capture Date

In [19]:
df = df.sort_values(by='CAPTURE DATE', ascending=True)

df.head()

,CLIENT,POLICY NO,PROPOSAL NO,STATUS,CAPTURE DATE,EFFECTIVE DATE,MODAL PREMIUM,ANNUALIZED PREMIUM,PAY METHOD,PAYMENT FREQUENCY,CONVERSION DATE,AGENT,AGENT CODE,AGENT,AGENT JOIN DATE,AGENCY,UNIT
0,KITHUKU JESSICAH MUENI,EDP/HO/0000001/2013,PR/EDP/HO/0000001/2013,FINAL LAPSED,2013-11-20,2013-11-20,3304.0,39648.0,CHECK-OFF,M,2013-11-25,JESSICAH MUENI KITHUKU,10110450.0,JESSICAH MUENI KITHUKU,2013-11-12,NYERI,UNIT 1 - NYERI
1,KITHUKU JESSICAH MUENI,FPC/HO/0000001/2013,PR/FPC/HO/0000001/2013,LAPSED,2013-11-20,2013-11-20,213.0,2556.0,CASH,M,2013-11-25,JESSICAH MUENI KITHUKU,10110450.0,JESSICAH MUENI KITHUKU,2013-11-12,NYERI,UNIT 1 - NYERI
2,MUTHIANI AUGUSTINE MULEI,EDP/HO/0000002/2013,PR/EDP/HO/0000002/2013,FINAL LAPSED,2013-11-22,2013-11-22,5487.0,65844.0,CASH,M,2013-12-03,RACHEAL THIONGO,10160429.0,RACHEAL THIONGO,2013-11-22,NAIROBI 2,UNIT 3 - NAIROBI 2
3,KARIUKI JOSEPH HEHO,END/HO/0000012/2014,PR/END/HO/0000002/2013,SURRENDERED,2013-11-27,2014-01-01,12639.0,151668.0,CHECK-OFF,M,2014-01-31,JOSEPH HEHO KARIUKI,10210001.0,JOSEPH HEHO KARIUKI,2013-11-01,AGENCY - STAFF,UNIT STAFF
4,WATIKI JANE NDUTA,END/HO/0000001/2013,PR/END/HO/0000003/2013,MATURED,2013-11-28,2013-11-27,6395.0,76740.0,CHECK-OFF,M,2013-12-03,JANE NDUTA WATIKI,10210002.0,JANE NDUTA WATIKI,2013-11-01,AGENCY - STAFF,UNIT STAFF

#### Removing Duplicate Value

In [20]:
df.duplicated('PROPOSAL NO')

0        False
1        False
2        False
3        False
4        False
         ...
39337    False
39349    False
39342    False
39350    False
39351    False
Length: 39352, dtype: bool

In [21]:
df = df.drop_duplicates(subset= ['PROPOSAL NO'], keep= "last")

df.head()

,CLIENT,POLICY NO,PROPOSAL NO,STATUS,CAPTURE DATE,EFFECTIVE DATE,MODAL PREMIUM,ANNUALIZED PREMIUM,PAY METHOD,PAYMENT FREQUENCY,CONVERSION DATE,AGENT,AGENT CODE,AGENT,AGENT JOIN DATE,AGENCY,UNIT
0,KITHUKU JESSICAH MUENI,EDP/HO/0000001/2013,PR/EDP/HO/0000001/2013,FINAL LAPSED,2013-11-20,2013-11-20,3304.0,39648.0,CHECK-OFF,M,2013-11-25,JESSICAH MUENI KITHUKU,10110450.0,JESSICAH MUENI KITHUKU,2013-11-12,NYERI,UNIT 1 - NYERI
1,KITHUKU JESSICAH MUENI,FPC/HO/0000001/2013,PR/FPC/HO/0000001/2013,LAPSED,2013-11-20,2013-11-20,213.0,2556.0,CASH,M,2013-11-25,JESSICAH MUENI KITHUKU,10110450.0,JESSICAH MUENI KITHUKU,2013-11-12,NYERI,UNIT 1 - NYERI
2,MUTHIANI AUGUSTINE MULEI,EDP/HO/0000002/2013,PR/EDP/HO/0000002/2013,FINAL LAPSED,2013-11-22,2013-11-22,5487.0,65844.0,CASH,M,2013-12-03,RACHEAL THIONGO,10160429.0,RACHEAL THIONGO,2013-11-22,NAIROBI 2,UNIT 3 - NAIROBI 2
3,KARIUKI JOSEPH HEHO,END/HO/0000012/2014,PR/END/HO/0000002/2013,SURRENDERED,2013-11-27,2014-01-01,12639.0,151668.0,CHECK-OFF,M,2014-01-31,JOSEPH HEHO KARIUKI,10210001.0,JOSEPH HEHO KARIUKI,2013-11-01,AGENCY - STAFF,UNIT STAFF
4,WATIKI JANE NDUTA,END/HO/0000001/2013,PR/END/HO/0000003/2013,MATURED,2013-11-28,2013-11-27,6395.0,76740.0,CHECK-OFF,M,2013-12-03,JANE NDUTA WATIKI,10210002.0,JANE NDUTA WATIKI,2013-11-01,AGENCY - STAFF,UNIT STAFF

## MERGING PROPOSALS CAPTURED WITH AGENCY STAFF POLICIES

In [22]:
df1 = pd.read_excel('Agency Staff Policies & Proposals.xlsx', 'Agency - Staff Proposals')

In [23]:
df1.columns

Index(['PROPOSAL  ', 'SURNAME', 'OTHER NAMES', 'AGENT NAME  ', 'AGENCY',
       'UNIT', 'BRANCH', 'DATE CAPTURED', 'AGENT', 'UNIT.1', 'CAPTURED BY',
       'TELEPHONE NO', 'SUM ASSURED', 'ANN. PREMIUM', 'OPTION', 'TERM',
       'TYPE OF POLICY', 'ACCEPTANCE DATE', 'DATE POLICY DOCUMENT ISSUED',
       'PAY METHOD', 'INSTITUTION', 'FREQ'],
      dtype='object')

In [24]:
df1.rename(columns= {'PROPOSAL  ': 'New_Proposal'}, inplace= True)

df1.rename(columns= {'AGENT': 'AGENT_1'}, inplace=True)

df1.head()

,New_Proposal,SURNAME,OTHER NAMES,AGENT NAME,AGENCY,UNIT,BRANCH,DATE CAPTURED,AGENT_1,UNIT.1,...,SUM ASSURED,ANN. PREMIUM,OPTION,TERM,TYPE OF POLICY,ACCEPTANCE DATE,DATE POLICY DOCUMENT ISSUED,PAY METHOD,INSTITUTION,FREQ
0,PR/END/HO/0005127/2020,NAIBEI,JOANNE YEGO,JOANNE YEGO NAIBEI,AGENCY - STAFF,UNIT STAFF,HEAD OFFICE,2021-01-01,REUBEN KINGORI WAITHAKA,UNIT 8 - NAIROBI 4,...,572580.0,174468.0,Default Option,5.0,ENDOWMENT,NaN,NaN,CHECK-OFF,APA INSURANCE LIMITED(APAI),M
1,PR/END/HO/0005124/2020,ONYANGO,CYNTHIA ADHIAMBO,CYNTHIA ADHIAMBO ONYANGO,AGENCY - STAFF,UNIT STAFF,HEAD OFFICE,2021-01-01,REUBEN KINGORI WAITHAKA,UNIT 8 - NAIROBI 4,...,602290.0,189792.0,Default Option,5.0,ENDOWMENT,NaN,NaN,CHECK-OFF,APA INSURANCE LIMITED(APAI),M
2,PR/END/HO/0005207/2021,OKAALO,ZAINABU ATTAI,ZAINABU ATTAI OKAALO,AGENCY - STAFF,UNIT STAFF,HEAD OFFICE,2021-01-27,REUBEN KINGORI WAITHAKA,UNIT 8 - NAIROBI 4,...,172791.0,58860.0,Default Option,5.0,ENDOWMENT,NaN,NaN,CASH,NaN,M
3,PR/END/HO/0005347/2021,MUKURIA,LUCIANNE WAMBUI,LUCIANNE WAMBUI MUKURIA,AGENCY - STAFF,UNIT STAFF,HEAD OFFICE,2021-03-01,REUBEN KINGORI WAITHAKA,UNIT 8 - NAIROBI 4,...,216145.0,36000.0,Default Option,10.0,ENDOWMENT,NaN,NaN,CHECK-OFF,APA INSURANCE LIMITED(APAI),M
4,PR/AEP/HO/0004820/2021,GACHANGO,KENNETH MUNGAI,GACHANGO KENNETH MUNGAI,AGENCY - STAFF,UNIT STAFF,HEAD OFFICE,2021-08-18,REUBEN KINGORI WAITHAKA,UNIT 8 - NAIROBI 4,...,411895.0,120000.0,Option 6,6.0,ENDOWMENT,NaN,NaN,CHECK-OFF,APA INSURANCE LIMITED(APAI),M

### Dropping Unwanted Columns

In [25]:
df1 = df1.drop(['SURNAME', 'OTHER NAMES', 'AGENT NAME  ', 'AGENCY',
       'UNIT', 'BRANCH', 'DATE CAPTURED', 'UNIT.1', 'CAPTURED BY',
       'TELEPHONE NO', 'SUM ASSURED', 'ANN. PREMIUM', 'OPTION', 'TERM',
       'TYPE OF POLICY', 'ACCEPTANCE DATE', 'DATE POLICY DOCUMENT ISSUED',
       'PAY METHOD', 'INSTITUTION', 'FREQ'], axis=1)

df1.head()

             New_Proposal                  AGENT_1
0  PR/END/HO/0005127/2020  REUBEN KINGORI WAITHAKA
1  PR/END/HO/0005124/2020  REUBEN KINGORI WAITHAKA
2  PR/END/HO/0005207/2021  REUBEN KINGORI WAITHAKA
3  PR/END/HO/0005347/2021  REUBEN KINGORI WAITHAKA
4  PR/AEP/HO/0004820/2021  REUBEN KINGORI WAITHAKA

In [26]:
df_combined = pd.merge(df, df1, how='left', left_on = 'PROPOSAL NO', right_on = 'New_Proposal')

df_combined.head()

,CLIENT,POLICY NO,PROPOSAL NO,STATUS,CAPTURE DATE,EFFECTIVE DATE,MODAL PREMIUM,ANNUALIZED PREMIUM,PAY METHOD,PAYMENT FREQUENCY,CONVERSION DATE,AGENT,AGENT CODE,AGENT,AGENT JOIN DATE,AGENCY,UNIT,New_Proposal,AGENT_1
0,KITHUKU JESSICAH MUENI,EDP/HO/0000001/2013,PR/EDP/HO/0000001/2013,FINAL LAPSED,2013-11-20,2013-11-20,3304.0,39648.0,CHECK-OFF,M,2013-11-25,JESSICAH MUENI KITHUKU,10110450.0,JESSICAH MUENI KITHUKU,2013-11-12,NYERI,UNIT 1 - NYERI,NaN,NaN
1,KITHUKU JESSICAH MUENI,FPC/HO/0000001/2013,PR/FPC/HO/0000001/2013,LAPSED,2013-11-20,2013-11-20,213.0,2556.0,CASH,M,2013-11-25,JESSICAH MUENI KITHUKU,10110450.0,JESSICAH MUENI KITHUKU,2013-11-12,NYERI,UNIT 1 - NYERI,NaN,NaN
2,MUTHIANI AUGUSTINE MULEI,EDP/HO/0000002/2013,PR/EDP/HO/0000002/2013,FINAL LAPSED,2013-11-22,2013-11-22,5487.0,65844.0,CASH,M,2013-12-03,RACHEAL THIONGO,10160429.0,RACHEAL THIONGO,2013-11-22,NAIROBI 2,UNIT 3 - NAIROBI 2,NaN,NaN
3,KARIUKI JOSEPH HEHO,END/HO/0000012/2014,PR/END/HO/0000002/2013,SURRENDERED,2013-11-27,2014-01-01,12639.0,151668.0,CHECK-OFF,M,2014-01-31,JOSEPH HEHO KARIUKI,10210001.0,JOSEPH HEHO KARIUKI,2013-11-01,AGENCY - STAFF,UNIT STAFF,NaN,NaN
4,WATIKI JANE NDUTA,END/HO/0000001/2013,PR/END/HO/0000003/2013,MATURED,2013-11-28,2013-11-27,6395.0,76740.0,CHECK-OFF,M,2013-12-03,JANE NDUTA WATIKI,10210002.0,JANE NDUTA WATIKI,2013-11-01,AGENCY - STAFF,UNIT STAFF,NaN,NaN

#### Adjusting Agents

###### Claire Wanjiku Muhoro

In [27]:
df_combined.loc[df_combined['AGENT_1'] == 'CLARE WANJIKU', 'AGENT'] = 'CLAIRE WANJIKU MUHORO'

df_combined.loc[df_combined['AGENT_1'] == 'CLARE WANJIKU', 'AGENT CODE'] = '13100000513'

df_combined.loc[df_combined['AGENT_1'] == 'CLARE WANJIKU', 'AGENT JOIN DATE'] = '30/11/2016'

df_combined.loc[df_combined['AGENT_1'] == 'CLARE WANJIKU', 'AGENCY'] = 'NAIVASHA'

df_combined.loc[df_combined['AGENT_1'] == 'CLARE WANJIKU', 'UNIT'] = 'UNIT 1 - NAIVASHA'

<ipython-input-27-b117f14b9702>:5: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_combined.loc[df_combined['AGENT_1'] == 'CLARE WANJIKU', 'AGENT JOIN DATE'] = '30/11/2016'

###### Daniel Muriithi Gicheru

In [28]:
df_combined.loc[df_combined['AGENT_1'] == 'DANIEL MURIITHI GICHERU', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['AGENT_1'] == 'DANIEL MURIITHI GICHERU', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['AGENT_1'] == 'DANIEL MURIITHI GICHERU', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['AGENT_1'] == 'DANIEL MURIITHI GICHERU', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['AGENT_1'] == 'DANIEL MURIITHI GICHERU', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

###### Margaret Wambui Kinuthia

In [29]:
df_combined.loc[df_combined['AGENT_1'] == 'MARGARET WAMBUI KINUTHIA', 'AGENT'] = 'MARGARET WAMBUI KINUTHIA'

df_combined.loc[df_combined['AGENT_1'] == 'MARGARET WAMBUI KINUTHIA', 'AGENT CODE'] = '13100000847'

df_combined.loc[df_combined['AGENT_1'] == 'MARGARET WAMBUI KINUTHIA', 'AGENT JOIN DATE'] = '18/05/2021'

df_combined.loc[df_combined['AGENT_1'] == 'MARGARET WAMBUI KINUTHIA', 'AGENCY'] = 'NAIVASHA'

df_combined.loc[df_combined['AGENT_1'] == 'MARGARET WAMBUI KINUTHIA', 'UNIT'] = 'UNIT 1 - NAIVASHA'

<ipython-input-29-128f27882439>:5: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_combined.loc[df_combined['AGENT_1'] == 'MARGARET WAMBUI KINUTHIA', 'AGENT JOIN DATE'] = '18/05/2021'

###### Onyancha Edinah Nyaboke

In [30]:
df_combined.loc[df_combined['AGENT_1'] == 'ONYANCHA EDINAH NYABOKE', 'AGENT'] = 'ONYANCHA EDINAH NYABOKE'

df_combined.loc[df_combined['AGENT_1'] == 'ONYANCHA EDINAH NYABOKE', 'AGENT CODE'] = '15600000956'

df_combined.loc[df_combined['AGENT_1'] == 'ONYANCHA EDINAH NYABOKE', 'AGENT JOIN DATE'] = '14/07/2021'

df_combined.loc[df_combined['AGENT_1'] == 'ONYANCHA EDINAH NYABOKE', 'AGENCY'] = 'ADC 2'

df_combined.loc[df_combined['AGENT_1'] == 'ONYANCHA EDINAH NYABOKE', 'UNIT'] = 'UNIT 9 - ADC 2'

<ipython-input-30-f16138ea1e68>:5: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_combined.loc[df_combined['AGENT_1'] == 'ONYANCHA EDINAH NYABOKE', 'AGENT JOIN DATE'] = '14/07/2021'

###### Reginah Njambi Mwangi

In [31]:
df_combined.loc[df_combined['AGENT_1'] == 'REGINAH NJAMBI MWANGI', 'AGENT'] = 'REGINAH NJAMBI MWANGI'

df_combined.loc[df_combined['AGENT_1'] == 'REGINAH NJAMBI MWANGI', 'AGENT CODE'] = '13100000887'

df_combined.loc[df_combined['AGENT_1'] == 'REGINAH NJAMBI MWANGI', 'AGENT JOIN DATE'] = '09/06/2018'

df_combined.loc[df_combined['AGENT_1'] == 'REGINAH NJAMBI MWANGI', 'AGENCY'] = 'NAIROBI 2'

df_combined.loc[df_combined['AGENT_1'] == 'REGINAH NJAMBI MWANGI', 'UNIT'] = 'UNIT 3 - NAIROBI 2'

###### Reuben Kingori Waithaka

In [32]:
df_combined.loc[df_combined['AGENT_1'] == 'REUBEN KINGORI WAITHAKA', 'AGENT'] = 'REUBEN KINGORI WAITHAKA'

df_combined.loc[df_combined['AGENT_1'] == 'REUBEN KINGORI WAITHAKA', 'AGENT CODE'] = '14000000894'

df_combined.loc[df_combined['AGENT_1'] == 'REUBEN KINGORI WAITHAKA', 'AGENT JOIN DATE'] = '18/12/2020'

df_combined.loc[df_combined['AGENT_1'] == 'REUBEN KINGORI WAITHAKA', 'AGENCY'] = 'ADC 2'

df_combined.loc[df_combined['AGENT_1'] == 'REUBEN KINGORI WAITHAKA', 'UNIT'] = 'UNIT 8 - ADC 2'

<ipython-input-32-8207b3424b83>:5: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_combined.loc[df_combined['AGENT_1'] == 'REUBEN KINGORI WAITHAKA', 'AGENT JOIN DATE'] = '18/12/2020'

In [33]:
df_combined.columns

Index(['CLIENT', 'POLICY NO', 'PROPOSAL NO', 'STATUS', 'CAPTURE DATE',
       'EFFECTIVE DATE', 'MODAL PREMIUM', 'ANNUALIZED PREMIUM', 'PAY METHOD',
       'PAYMENT FREQUENCY', 'CONVERSION DATE', 'AGENT', 'AGENT CODE', 'AGENT',
       'AGENT JOIN DATE', 'AGENCY', 'UNIT', 'New_Proposal', 'AGENT_1'],
      dtype='object')

#### Assigning Sales to Correct Agent

###### Daniel Gicheru

In [34]:
# Proposal No - PR/AEP/HO/0005793/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005793/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005793/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005793/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005793/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005793/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/AEP/HO/0005794/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005794/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005794/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005794/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005794/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005794/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/AEP/HO/0005817/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005817/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005817/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005817/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005817/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0005817/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/EDP/HO/0009537/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009537/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009537/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009537/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009537/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009537/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'


# Proposal No - PR/END/HO/0007209/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007209/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007209/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007209/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007209/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007209/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/EDP/HO/0009581/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009581/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009581/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009581/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009581/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009581/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/END/HO/0007249/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007249/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007249/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007249/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007249/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007249/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/END/HO/0007264/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007264/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007264/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007264/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007264/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007264/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/EDP/HO/0009636/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009636/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009636/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009636/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009636/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009636/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/EDP/HO/0009651/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009651/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009651/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009651/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009651/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0009651/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/END/HO/0007340/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007340/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007340/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007340/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007340/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007340/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/FPC/HO/0006630/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/HO/0006630/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/HO/0006630/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/HO/0006630/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/HO/0006630/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/HO/0006630/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/WBD/HO/0000246/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/HO/0006630/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/HO/0006630/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/HO/0006630/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/HO/0006630/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/HO/0006630/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/END/HO/0007435/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007435/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007435/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007435/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007435/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007435/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/END/HO/0007509/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007509/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007509/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007509/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007509/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007509/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/WHL/HO/0000003/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WHL/HO/0000003/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WHL/HO/0000003/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WHL/HO/0000003/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WHL/HO/0000003/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WHL/HO/0000003/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/AEP/HO/0006269/2023

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006269/2023', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006269/2023', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006269/2023', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006269/2023', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006269/2023', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

# Proposal No - PR/END/HO/0007697/2023

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007697/2023', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007697/2023', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007697/2023', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007697/2023', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007697/2023', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

#Proposal No - PR/TA/HO/0000151/2023

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/TA/HO/0000151/2023', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/TA/HO/0000151/2023', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/TA/HO/0000151/2023', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/TA/HO/0000151/2023', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/TA/HO/0000151/2023', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

#Proposal No - PR/END/HO/0008082/2023

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008082/2023', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008082/2023', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008082/2023', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008082/2023', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008082/2023', 'UNIT'] = 'UNIT 1 - NAIROBI 3'


#Proposal No - PR/AEP/HO/0006460/2023

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006460/2023', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006460/2023', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006460/2023', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006460/2023', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006460/2023', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

#Proposal No - PR/END/HO/0007477/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007477/2022', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007477/2022', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007477/2022', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007477/2022', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007477/2022', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

#Proposal No - PR/EDP/HO/0010149/2023

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010149/2023', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010149/2023', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010149/2023', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010149/2023', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010149/2023', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

#Proposal No - PR/EDP/HO/0010148/2023

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010148/2023', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010148/2023', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010148/2023', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010148/2023', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010148/2023', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

#Proposal No - PR/AEP/HO/0006564/2023

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006564/2023', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006564/2023', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006564/2023', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006564/2023', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/AEP/HO/0006564/2023', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

#Proposal No - PR/END/HO/0008284/2023

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008284/2023', 'AGENT'] = 'DANIEL MURIITHI GICHERU'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008284/2023', 'AGENT CODE'] = '18800000'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008284/2023', 'AGENT JOIN DATE'] = '11/06/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008284/2023', 'AGENCY'] = 'NAIROBI 3'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008284/2023', 'UNIT'] = 'UNIT 1 - NAIROBI 3'

###### Reginah Njambi

In [35]:
# Proposal No - PR/END/HO/0006133/2021

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0006133/2021', 'AGENT'] = 'REGINAH NJAMBI MWANGI'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0006133/2021', 'AGENT CODE'] = '13100000887'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0006133/2021', 'AGENT JOIN DATE'] = '09/06/2018'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0006133/2021', 'AGENCY'] = 'NAIROBI 2'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0006133/2021', 'UNIT'] = 'UNIT 3 - NAIROBI 2'

# Proposal No - PR/END/HO/0007501/2022

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007501/2022', 'AGENT'] = 'REGINAH NJAMBI MWANGI'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007501/2022', 'AGENT CODE'] = '13100000887'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007501/2022', 'AGENT JOIN DATE'] = '09/06/2018'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007501/2022', 'AGENCY'] = 'NAIROBI 2'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0007501/2022', 'UNIT'] = 'UNIT 3 - NAIROBI 2'

# Proposal No - PR/END/HO/0008286/2023

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008286/2023', 'AGENT'] = 'REGINAH NJAMBI MWANGI'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008286/2023', 'AGENT CODE'] = '13100000887'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008286/2023', 'AGENT JOIN DATE'] = '09/06/2018'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008286/2023', 'AGENCY'] = 'NAIROBI 2'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/HO/0008286/2023', 'UNIT'] = 'UNIT 3 - NAIROBI 2'

###### Joyce Ndanu Katiwa

In [36]:
# Business by Precious Mue

# Proposal No - PR/EDP/HO/0007422/2021

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0007422/2021', 'AGENT'] = 'JOYCE NDANU KATIWA'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0007422/2021', 'AGENT CODE'] = '15600000788'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0007422/2021', 'AGENT JOIN DATE'] = '01/01/2018'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0007422/2021', 'AGENCY'] = 'NAIROBI 1'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0007422/2021', 'UNIT'] = 'UNIT 2 - NAIROBI 1'

# Proposal No - PR/EDP/HO/0007419/2021

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0007419/2021', 'AGENT'] = 'JOYCE NDANU KATIWA'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0007419/2021', 'AGENT CODE'] = '15600000788'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0007419/2021', 'AGENT JOIN DATE'] = '01/01/2018'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0007419/2021', 'AGENCY'] = 'NAIROBI 1'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0007419/2021', 'UNIT'] = 'UNIT 2 - NAIROBI 1'

Edwin Otieno Owidi

In [37]:
# Proposal No - PR/EDP/HO/0010373/2023

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010373/2023', 'AGENT'] = 'EDWIN OTIENO OWIDI'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010373/2023', 'AGENT CODE'] = '22382'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010373/2023', 'AGENT JOIN DATE'] = '30/09/2022'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010373/2023', 'AGENCY'] = 'RONGAI'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010373/2023', 'UNIT'] = 'UNIT AGM - RONGAI'

<ipython-input-37-347514a47baa>:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0010373/2023', 'AGENT JOIN DATE'] = '30/09/2022'

In [38]:
print(df_combined.columns)

Index(['CLIENT', 'POLICY NO', 'PROPOSAL NO', 'STATUS', 'CAPTURE DATE',
       'EFFECTIVE DATE', 'MODAL PREMIUM', 'ANNUALIZED PREMIUM', 'PAY METHOD',
       'PAYMENT FREQUENCY', 'CONVERSION DATE', 'AGENT', 'AGENT CODE', 'AGENT',
       'AGENT JOIN DATE', 'AGENCY', 'UNIT', 'New_Proposal', 'AGENT_1'],
      dtype='object')

#### Assigning Agents the correct codes

###### MALEE INSURANCE BROKER LIMITED

In [39]:
# Proposal No - PR/WBD/HO/0000063/2021

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WBD/HO/0000063/2021', 'AGENT'] = 'MALEE EAST AFRICA INSURANCE BROKERS LIMITED'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WBD/HO/0000063/2021', 'AGENT CODE'] = '21755'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WBD/HO/0000063/2021', 'AGENT JOIN DATE'] = '18/07/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WBD/HO/0000063/2021', 'AGENCY'] = 'ADC 3 - BROKER 01'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WBD/HO/0000063/2021', 'UNIT'] = 'UNIT - BROKER'

# Proposal No - PR/WBD/HO/0000071/2021

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WBD/HO/0000071/2021', 'AGENT'] = 'MALEE EAST AFRICA INSURANCE BROKERS LIMITED'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WBD/HO/0000071/2021', 'AGENT CODE'] = '21755'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WBD/HO/0000071/2021', 'AGENT JOIN DATE'] = '18/07/2021'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WBD/HO/0000071/2021', 'AGENCY'] = 'ADC 3 - BROKER 01'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WBD/HO/0000071/2021', 'UNIT'] = 'UNIT - BROKER'

<ipython-input-39-afa9c3613a25>:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WBD/HO/0000063/2021', 'AGENT JOIN DATE'] = '18/07/2021'
<ipython-input-39-afa9c3613a25>:19: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/WBD/HO/0000071/2021', 'AGENT JOIN DATE'] = '18/07/2021'

###### Dominic Nzuki

In [40]:
# PR/END/MKS/0000749/2015

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/MKS/0000749/2015', 'AGENT'] = 'DOMINIC NZUKI'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/MKS/0000749/2015', 'AGENT CODE'] = '10313638'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/MKS/0000749/2015', 'AGENT JOIN DATE'] = '27/07/2017'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/MKS/0000749/2015', 'AGENCY'] = 'NAIROBI 2'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/MKS/0000749/2015', 'UNIT'] = 'UNIT 3 - NAIROBI 2'

# PR/EDP/HO/0005197/2019

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0005197/2019', 'AGENT'] = 'DOMINIC NZUKI'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0005197/2019', 'AGENT CODE'] = '10313638'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0005197/2019', 'AGENT JOIN DATE'] = '27/07/2017'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0005197/2019', 'AGENCY'] = 'NAIROBI 2'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0005197/2019', 'UNIT'] = 'UNIT 3 - NAIROBI 2'

<ipython-input-40-f2e0f6dc3eb9>:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/END/MKS/0000749/2015', 'AGENT JOIN DATE'] = '27/07/2017'
<ipython-input-40-f2e0f6dc3eb9>:19: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/EDP/HO/0005197/2019', 'AGENT JOIN DATE'] = '27/07/2017'

###### Joseph Kimani Njuguna

In [41]:
# PR/FPC/NAI/0005878/2021

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/NAI/0005878/2021', 'AGENT'] = 'JOSEPH KIMANI NJUGUNA'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/NAI/0005878/2021', 'AGENT CODE'] = '12101395'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/NAI/0005878/2021', 'AGENT JOIN DATE'] = '20/11/2016'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/NAI/0005878/2021', 'AGENCY'] = 'NAIVASHA'

df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/NAI/0005878/2021', 'UNIT'] = 'UNIT 1 - NAIVASHA'

<ipython-input-41-04bc02bb52fa>:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_combined.loc[df_combined['PROPOSAL NO'] == 'PR/FPC/NAI/0005878/2021', 'AGENT JOIN DATE'] = '20/11/2016'

#### Removing Test Business

In [42]:
df_combined.columns

Index(['CLIENT', 'POLICY NO', 'PROPOSAL NO', 'STATUS', 'CAPTURE DATE',
       'EFFECTIVE DATE', 'MODAL PREMIUM', 'ANNUALIZED PREMIUM', 'PAY METHOD',
       'PAYMENT FREQUENCY', 'CONVERSION DATE', 'AGENT', 'AGENT CODE', 'AGENT',
       'AGENT JOIN DATE', 'AGENCY', 'UNIT', 'New_Proposal', 'AGENT_1'],
      dtype='object')

###### Thika Cases

In [43]:
# Deleting rows

df_combined = df_combined[df_combined['PROPOSAL NO'] != 'PR/EDP/THK/0009238/2022']

df_combined = df_combined[df_combined['PROPOSAL NO'] != 'PR/END/THK/0006908/2022'] 

df_combined = df_combined[df_combined['PROPOSAL NO'] != 'PR/AEP/THK/0005650/2022']

In [44]:
df_combined.to_excel('data.xlsx')